
h1 {
  text-align: center;
}

.board {
  background-color: #999;
}

table {
  border-collapse: collapse;
  width: 500px;
  height: 500px;
  table-layout: fixed;
  position: relative;
  margin: 0 auto;

}


}


