@font-face {
  font-family:'Drawing Guides';
  src: url('fonts/Drawing Guides.tff') format('truetype');
}


body {
  margin: 0;
  padding: 0;
  background-image: url('pictures/chalkboard-black.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}


h1 {
  font-family: 'Rock Salt', cursive;
  text-align: center;
  color:white;
}

.board {

}

table {

  width: 600px;
  height: 600px;
  table-layout: fixed;
  position: relative;
  margin: 0 auto;
  float: left;
  margin-left: 100px;
  border-collapse: collapse;
  color:white;
  font-family: 'Rock Salt', cursive;

}

.square {
  height: 180px;
  width: 180px;
  border: 5px solid white;
  text-align: center;
  font-size: 40px;
}

.square:hover {
  background-color: blue;
}


.sidebar {
  float: left;
  color: white;
  text-align: center;
  font-family: 'Rock Salt', cursive;
}

.turn {
  height: 100px;
  width: 100px;
  margin: 50px;
  border: solid white 5px;
  border-radius: 10px;
}

.score {
  height: 200px;
  width: 200px;
  margin: 50px;
  border: solid white 5px;
  border-radius: 10px;
}

.player {

}

