@font-face {
    font-family: 'eraserregular';
    src: url('fonts/EraserRegular-webfont.eot');
    src: url('fonts/EraserRegular-webfont.eot?#iefix') format('fonts/embedded-opentype'),
         url('fonts/EraserRegular-webfont.woff') format('woff'),
         url('EraserRegular-webfont.ttf') format('truetype'),
         url('fonts/EraserRegular-webfont.svg#eraserregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tally_markregular';
    src: url('fonts/tally_mark-webfont.eot');
    src: url('fonts/tally_mark-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/tally_mark-webfont.woff2') format('woff2'),
         url('fonts/tally_mark-webfont.woff') format('woff'),
         url('fonts/tally_mark-webfont.ttf') format('truetype'),
         url('fonts/tally_mark-webfont.svg#tally_markregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background-image: url('pictures/chalkboard-black.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  color: white;
  font-family:'eraserregular';
  padding-left: 25%;
}

section {

}

h1 {
  margin-left: 100px;
  font-size: 60px;
}

.message {
  width: 600px;
  height: 600px;
  table-layout: fixed;
  margin: 0 auto;
  margin-left: 100px;
  font-family: 'eraserregular';
  background-image: url('pictures/chalkboard-black.jpg');
  background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  position: absolute;
  font-size: 25px;
  text-align: center;
  padding: 20px;
  border: 5px solid white;
  border-radius: 10px;
}

input {
  background-color: transparent;
  font-size: 20px;
  font-family: 'helvetica';
  border-radius: 10px;
  border: 5px solid white;
  margin: 5px 0 0 0;
  color: white;
  padding: 10px;
}
textarea {
  height: 150px;
  width: 250px;
}
button {
  background-color: transparent;
  font-size: 25px;
  font-family: 'eraserregular';
  border-radius: 10px;
  border: 5px solid white;
  padding: 5px;
  margin: 5px 0 0 0;
  color: white;
}
table {

  width: 600px;
  height: 600px;
  table-layout: fixed;
  margin: 0 auto;
  float: left;
  margin-left: 100px;
  border-collapse: collapse;
  font-family: 'eraserregular';

}


.square {
  height: 28%;
  width: 28%;
  text-align: center;
  font-size: 120px;
}

.square:hover {
  background-color: #4c4c4c;
  border-radius:10px;
}


.sidebar {
  float: left;
  text-align: center;
  font-size: 30px;
}

.turn {
  max-height: 200px;
  max-width: 200px;
  margin: 50px;
  border-radius: 10px;
}

.score {
  max-height: 400px;
  max-width: 320px;
  margin: 50px;
  border-radius: 12px;
  float: left;
  text-align: center;
  font-size: 30px;
}

.scoreMe{
  float: left;
  margin-left: 20px;
}

.scoreThem{
  float: left;
  margin: 0 40px 0 40px;
}

.scoreTie{
  float: left;
}

.underline{
  text-decoration: underline;
}

.tally {
  font-family: 'tally_markregular';
  font-size: 1em;
  text-decoration: none;
  text-align: left;
}

.players {
  text-align: center;
  clear:left;
  margin-left: 100px;
  font-size: 30px;
}

.playerA {
  max-height: 200px;
  max-width: 200px;
  margin: 50px;
  border-radius: 12px;
  padding: 10px;
  float:left;
}

.playerB {
  max-height: 200px;
  max-width: 200px;
  margin: 50px;
  border-radius: 12px;
  padding: 10px;
  float:left;
}

.letter {
  font-size: 300%;
}


/*@media only screen and (max-device-width: 1080px){*/
@media only screen and (max-width: 1080px){
  body {
    padding: 0;
  }
  h1 {
    font-size: 80px;
  }
  .table .message {
    height: 700px;
    width: 700px;
    float:none;
  }

  .square {
    font-size: 90px;
  }
  .sidebar{
    float:none;
    font-size: 50px;
    margin-left: 100px;
  }

   .turn {
      float:left;
      width: 50%;
    }
    .score {
      float:left;
      width:50%;
    }
  .players{
    font-size: 40px;
    width:;
  }


}
